/*
//  =====================
//    MVCSS by @eli_oat
//  ---------------------
//       MIT License
//           2016
//  =====================
*/

body {
  max-width: 46em;
  font-size: 1em;
  font-family: -apple-system, 'avenir next', avenir, roboto, noto, 'helvetica neue', helvetica, ubuntu, 'franklin gothic medium', 'century gothic', sans-serif;
  line-height: 1.7em;
  padding: 1em;
  margin-left: auto;
  margin-right: auto;
  display: block
}

img, canvas, iframe, video, svg, select, textarea {
  max-width: 100%
}

 pre, code {
	overflow: scroll
}

/* === FORMS, ETC. === */

label {
	font-weight: bold;
}

input, select, textarea {
	min-width: 100%;
	margin-bottom: 1em
}

input, textarea {
	font-size: 1.15em;
}

button {
	overflow: visible
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer
}

input[type="submit"] {
	float: right
}

button, input[type="submit"] {
	font-size: 0.9em;
	background-color: #eee;
	border-style: solid;
	border-width: 1px;
	border-radius: 0.25em;
	color: #444;
	display: inline-block;
	letter-spacing: 0.15em;
	padding: 0.3em 0.75em;
	margin: 0.75em 0.12em 0.75em 0.12em;
	text-decoration: none;
	-webkit-transition: color .4s,background-color .4s,border .4s;
	transition: color .4s,background-color .4s,border .4s
}

button:hover, input[type="submit"]:hover {
	background-color: #aaa;
	border-color: #aaa;
	color: #444
}

@media screen and (max-width: 32em) {
	button, input[type="submit"], input[type="button"], input[type="reset"]  {
		margin-left: auto;
		margin-right: auto;
		display: block;
		min-width: 100%
	}
}